.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .todos {
    h1 {
      font-size: 5rem;
      text-align: center;
      color: lightgrey;
    }
    .todo-container {
      width: 300px;
      border-top: 10px solid #93837c;
      box-shadow: 0px 3px 26px 0px rgba(33, 33, 33, 0.86);
      font-size: 1rem;
      input {
        outline: none;
        border: none;
      }
      ul {
        padding-left: 0;
        margin-top: 0;
        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid lightgray;
          padding: 0 10px 0 50px;
          height: 45px;
          .line-into {
            text-decoration: line-through;
            color: darkgrey;
          }
        }
      }

      .todo-input {
        width: 66%;
        height: 45px;
        padding: 5px 50px;
        border-bottom: 1px solid lightgray;
        &::placeholder {
          font-style: italic;
          font-weight: bold;
        }
      }
      .control-box {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
        background-color: #f1f1f1;
        padding: 5px;
        .center-btn {
          button {
            border: none;
            background-color: unset;
          }
        }
      }
    }
  }
}
